@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   <p>
       <a href="/SignIn" class="btn">Sign in</a>
       <a href="/SignUp" class="btn">Sign up</a>
     </p>
</div>
